ci:
  autoupdate_schedule: monthly
  skip: ["check-stack-tag-values"] # work around for https://github.com/pre-commit-ci/issues/issues/241
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
    -   id: yamllint
-   repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.43.1
    hooks:
    -   id: cfn-python-lint
        files: templates/.*\.(json|yml|yaml)$
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-tabs
-   repo: https://github.com/sceptre/sceptrelint
    rev: v1.3.0
    hooks:
    -    id: check-file-names
    -    id: check-stack-names
    -    id: check-stack-tag-values
         args: [
           --tag=CostCenter,
           --file=https://mips-api.finops.sageit.org/tags
         ]
-   repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
-   repo: https://github.com/aristanetworks/j2lint.git
    rev: v1.2.0
    hooks:
      - id: j2lint
